.header {
  --font: 'Noto Sans', ui-sans-serif;
  --p: 1rem;
  --h: 1.2rem;
  --white: #fff;
  --black: #000;
}

.header {
  display: flex;
  align-items: center;
  background-color: var(--clr-dark-400);
  padding: 1rem;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: 2rem;
  color: var(--white);
}

.button {
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--white);
  background-color: transparent;
  font-family: var(--font);
  font-size: var(--p);
  color: var(--white);
  transition: all 0.15s ease;
  cursor: pointer;
}

.button:hover {
  background-color: var(--black);
  border: 1px solid var(--black);
}
